.list li{
    float: left;
    margin: 10px;
}
h3{
    margin: 20px;
}
a{
    color: #333;
}
.list .bor{
    margin-left: 30px;
}
a:hover{
    color: #ff6e3d;
}

.active{
    font-size: 50px;
}
ul{
    margin-left: 40px;
}