<!-- Generated template for the HliveComponent component -->
<!-- 轮播 -->
<ion-slides class="sli" loop autoplay="2000" pager style="background:yel">
  <ion-slide>
    <img src="../assets/imgs/life2.png">
  </ion-slide>
  <ion-slide>
    <img src="../assets/imgs/life2.png">
  </ion-slide>
  <ion-slide>
    <img src="../assets/imgs/life2.png">
  </ion-slide>
</ion-slides>
<!-- 家居列表 -->
<ul class="room">
  <li><img src="../assets/imgs/room1.png"></li>
  <li><img src="../assets/imgs/room2.png"></li>
  <li><img src="../assets/imgs/room3.png"></li>
</ul>
<!-- 热门推荐 -->
<div class="commend">
  <h5 text-center>桔|子|家|居</h5>
  <p text-center>Orange household</p>
</div>
<!-- 推荐列表 -->
<ul class="goods" padding>
  <li>
    <img src="../assets/imgs/pic7.png">
    <p>-欧式全实木花几- <label>RMB 600</label></p>
    <span>
      <ion-icon name="md-star-half"></ion-icon>
    </span>
  </li>
  <li>
    <img src="../assets/imgs/pic8.png">
    <p>-现代简约早餐桌- <label>RMB 450</label></p>
    <span>
      <ion-icon name="md-star-half" color='grey'></ion-icon>
    </span>
  </li>
</ul>