#area{
    width:850px;
    height: 450px;
    box-shadow: 2px 2px 2px 2px rgb(212, 212, 212);
    margin-left: 50px;
    margin-top: 20px;
}
textarea{
    width: 800px;
    height: 100px;
    margin-left: 20px;
    color: #333;
}
#area p{
    padding: 20px;
    padding-bottom: 10px;
}
#div1{
    float: left;
    margin: 20px;
    margin-top: 0px;
}
#div2{
    float: right;
    margin: 30px;
    margin-top: 0px;
}
a,span{
    color: rgb(194, 192, 192);
}
a:hover{
    color: #ff6e3d;
}
button{
    background-color: #ff6e3d;
    color: #fff;
    border-color: #ff5b23;
    cursor: pointer;
    border-radius: 10%;
    padding: 3px;
}
#p{
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 1.5em;
    color: #9e9e9e;
}