<!-- <input type="text" [(ngModel)]="txt" (keydown)="add($event)"><br>

<h1>正在进行 {{arr.length}}</h1>
<ul>
    <li *ngFor="let item of arr;let i=index">
        <input type="checkbox" (click)="finish(i)" /> 正在进行第{{i+1}}一个任务：
        <input type="text" [value]="item">
        <button (click)="del(i)">删除</button>
    </li>
</ul>

<h1>已经完成 {{fin.length}}</h1>
<ul>
    <li *ngFor="let finItem of fin;let i2=index">
        <input type="checkbox" checked="checked" (click)="todo(i2)" /> 已完成第{{i2+1}}个任务：
        <input type="text" [value]="finItem" />
        <button (click)="del2(i2)">删除</button>
    </li>
</ul> -->


<input type="text" [(ngModel)]="txt" (keydown)="add($event)"><br>

<h1>正在进行 {{arr.length-num}}</h1>
<ul>
    <ng-container *ngFor="let item of arr;let i=index">
        <li *ngIf="!item.done">
            <input type="checkbox" (click)="change(i)" />
            <input type="text" [value]="item.title">
            <button (click)="del(i)">删除</button>
        </li>
    </ng-container>
</ul>

<h1>已经完成 {{num}}</h1>
<ul>
    <ng-container *ngFor="let item of arr;let i=index">
        <li *ngIf="item.done">
            <input type="checkbox" checked="checked" (click)="change(i)" />
            <input type="text" [value]="item.title">
            <button (click)="del(i)">删除</button>
        </li>
    </ng-container>
</ul>