nav {
    height: 50px;
    border: 1px solid #dedede;
    border-top: none;
    background-color: #f8f8f8;
}
.nav {
    width: 1200px;
    margin: 0px auto;   
    line-height: 30px;
}
.nav li {    
    float: left;
    margin: 10px;
    cursor: pointer;    
}
.nav li a{
    color: #333;
    padding: 15px;
}
.search{
    cursor: pointer;
}
.my{
    border-radius: 4px;
    margin-left: 40px;
    margin-right: 40px;
}
.border{
    border: 1px solid #9e9e9e;
    border-radius: 2px;
    height: 25px;
}
.logo a img{
    margin-left: 40px;
    margin-right: 100px;
}
.clear{
    clear: both;
}
.nav .list{
    display: none;
}
.nav .select:hover ul{
    display: block;
    position: absolute;
}
.list{
    margin-top: 12px;
    width: 120px;
    background-color: rgb(253, 253, 239);
    line-height: 10px;   
}
.list li a:hover{    
   color: #ff6e3d;  
   font-weight: bold;
}
.pos1{
    position: absolute;
    left: 79%;
}
.pos2{
    position: absolute;
    left: 86%;
}
