page-home {
   ion-content{
       .navList{
           padding-left: 0px;
           height: 44px;
           line-height: 44px;
           margin: 0;
           .first{          
            color: #535353; 
            border-bottom: 5px solid #ffdb2c;
           }
           li{
               color: #5e5e5e;
               float: left;
               height: 44px;
               text-align: center;
               width: 25%;
           }
       }       
   }
}
