<!-- Generated template for the HcommendComponent component -->
<!-- 轮播 -->
<ion-slides class="sli" loop autoplay="2000" pager>
  <ion-slide>
    <img src="../assets/imgs/life.png">
  </ion-slide>
  <ion-slide>
    <img src="../assets/imgs/life.png">
  </ion-slide>
  <ion-slide>
    <img src="../assets/imgs/life.png">
  </ion-slide>
</ion-slides>
<!-- 热门推荐 -->
<div class="commend">
  <h5 text-center>热|门|推|荐</h5>
  <p text-center>RECOMMENDATION</p>
</div>
<!-- 推荐列表 -->
<ul class="goods" padding>
  <li>
    <img src="../assets/imgs/pic1.png">
    <p>——北欧原木色置物架——</p>
    <span>
      <ion-icon name="md-star-half"></ion-icon>
    </span>
  </li>
  <li>
    <img src="../assets/imgs/pic2.png">
    <p>——简约黑檀木茶几——</p>
    <span>
      <ion-icon name="md-star-half" color='grey'></ion-icon>
    </span>
  </li>
  <li></li>
  <li>
    <img src="../assets/imgs/pic3.png">
    <p>——北欧白橡木书架——</p>
    <span>
      <ion-icon name="md-star-half" color='grey'></ion-icon>
    </span>
  </li>
  <li>
    <img src="../assets/imgs/pic4.png">
    <p>——北欧风餐边柜——</p>
    <span>
      <ion-icon name="md-star-half"></ion-icon>
    </span>
  </li>
</ul>